- var all_page = ['Menu', 'Already', 'Individual']

doctype html
html
	head
		include jade/head

	body
		#braeco
			#main
				#brae-home-page
					#all-home-content-field
						.all-page-field
							each elem in all_page
								div(id="#{elem}-page" class="hide")
					#nav-field
						div(class="bottom-field bottom-touch-num-#{all_page.length}")
							each elem, i in all_page
								a(href="#-#{elem}" class="unchecked" id="bottom-touch-#{i}")
									div(id="#{elem}")
							
				#brae-content-page.hide
					#book-dish-field
					#activity-field

				#brae-extra-form-page.hide
					.cover
					#login-filed.center-form
					#book-choose-field.center-form
					#remark-for-trolley-field.center-form
					#alert-field.center-form


		include jade/script